$white: white;
$primary: #18B4E5;
$font_default: #6B6B6B;

$yellow: #FFEBB8;

$gray_fade: #E8E8E8;
$gray_dim: #C7C7C7;
$gray_lighter: #B4B4B4;
$gray_light: #979797;
$gray_medium: #9A9A9A;
$gray_dark: #6A6663;

$bg_light: #F7F7F7;
$bg_dark: #231F20;

$info_gray: $gray_medium;
$info_green: #2A9920;
$info_lime: #91C422;
$info_red: #FC5D62;
$info_orange: #F89521;
$info_teal: #5C91A1;
$info_navy: #4A6785;
$info_yellow: #FFD351;

$table_row_dark: #EFEFEF;
$table_row_light: #F7F7F7;