.login {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: $bg_light;
}

.login-window {
  box-sizing: border-box;
  width: 380px;
  margin: 100px auto;
  padding: 30px;
  background-color: $white;
  border: 1px solid $gray_fade;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.08);
  border-radius: 6px;

  h1 {
    text-align: center;
    margin: 0px 0px 15px;
  }

  img {
    width: 200px;
    margin:0 0 20px 60px;
  }

  .login-info {
    border: 1px solid $info_yellow;
    border-radius: 2px;
    background-color: lighten($info_yellow, 30);
    text-align: center;
    color: darken($info_yellow, 40);
    margin-bottom: 10px;
  }

  input[type="text"], input[type="password"] {
    box-sizing: border-box;
    width: 100%;
    margin:0 0 10px;
    border-radius: 2px;
    border:1px solid $gray_fade;
    text-align: center;
    outline: none;
    padding: 8px 10px;
    color: $font_default;

    &:focus {
      box-shadow: 0 0 5px rgba($primary, 1);
      border: 1px solid rgba($primary, 1);
    }
  }

  input[type="submit"] {
    box-sizing: border-box;
    width: 100%;
    margin:0 0 10px;
    padding: 10px 10px;
    border-radius: 4px;
    border: none;
    font-weight: 600;
    background-color: $primary;
    color: $white;
    outline: none;

    &:hover {
      cursor: pointer;
      background-color: lighten($primary, 5);
    }
    &:active {
      background-color: darken($primary, 5);
    }
  }
}